<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE generatorConfiguration-->
        <!--PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"-->
        <!--"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">-->

<!--<generatorConfiguration>-->
    <!--&lt;!&ndash;<classPathEntry location="/Program Files/IBM/SQLLIB/java/db2java.zip" />&ndash;&gt;-->
    <!--<context id="DB2Tables" targetRuntime="MyBatis3">-->

        <!--&lt;!&ndash;数据库链接地址账号密码&ndash;&gt;-->
        <!--<jdbcConnection driverClass="com.mysql.jdbc.Driver"-->
                        <!--connectionURL="jdbc:mysql://127.0.0.1:3306/wetec"-->
                        <!--userId="root"-->
                        <!--password="199810">-->
        <!--</jdbcConnection>-->


        <!--&lt;!&ndash;<javaTypeResolver >&ndash;&gt;-->
            <!--&lt;!&ndash;<property name="forceBigDecimals" value="false" />&ndash;&gt;-->
        <!--&lt;!&ndash;</javaTypeResolver>&ndash;&gt;-->

        <!--&lt;!&ndash;生成存放MDataObject类存放的位置&ndash;&gt;-->
        <!--<javaModelGenerator targetPackage="com.waectr.wetec.dataobject" targetProject="src/main/java">-->
            <!--<property name="enableSubPackages" value="true" />-->
            <!--<property name="trimStrings" value="true" />-->
        <!--</javaModelGenerator>-->

        <!--&lt;!&ndash;生成映射文件存放位置&ndash;&gt;-->
        <!--<sqlMapGenerator targetPackage="mapping"  targetProject="src/main/resources">-->
            <!--<property name="enableSubPackages" value="true" />-->
        <!--</sqlMapGenerator>-->

        <!--&lt;!&ndash;生成Dao类存放位置&ndash;&gt;-->
        <!--<javaClientGenerator type="XMLMAPPER" targetPackage="com.waectr.wetec.dao"  targetProject="src/main/java">-->
            <!--<property name="enableSubPackages" value="true" />-->
        <!--</javaClientGenerator>-->

        <!--&lt;!&ndash;生成表及类名&ndash;&gt;-->


        <!--&lt;!&ndash;<table tableName="t_blog" domainObjectName="BlogDO" enableCountByExample="false" enableUpdateByExample="false"&ndash;&gt;-->
        <!--&lt;!&ndash;enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false"></table>&ndash;&gt;-->
        <!--&lt;!&ndash;<table tableName="t_blog_tag" domainObjectName="BlogAndTagDO" enableCountByExample="false" enableUpdateByExample="false"&ndash;&gt;-->
               <!--&lt;!&ndash;enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false"></table>&ndash;&gt;-->
        <!--&lt;!&ndash;<table tableName="t_comment" domainObjectName="CommentDO" enableCountByExample="false" enableUpdateByExample="false"&ndash;&gt;-->
               <!--&lt;!&ndash;enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false"></table>&ndash;&gt;-->
        <!--&lt;!&ndash;<table tableName="t_tag" domainObjectName="TagDO" enableCountByExample="false" enableUpdateByExample="false"&ndash;&gt;-->
               <!--&lt;!&ndash;enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false"></table>&ndash;&gt;-->
        <!--&lt;!&ndash;<table tableName="t_user" domainObjectName="UserDO" enableCountByExample="false" enableUpdateByExample="false"&ndash;&gt;-->
               <!--&lt;!&ndash;enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false"></table>&ndash;&gt;-->
        <!--&lt;!&ndash;<table tableName="t_user" domainObjectName="UserDO" enableCountByExample="false" enableUpdateByExample="false"&ndash;&gt;-->
               <!--&lt;!&ndash;enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false"></table>&ndash;&gt;-->
    <!--</context>-->


<!--</generatorConfiguration>-->